/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

*{height: auto}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #fff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}


/*personalização tabela de publicaçoes*/
table.highlight > tbody > tr:hover {
    background-color: #546e7a;
    color: white;
    opacity: 0.9;
}

table.highlight > tbody > tr > td > a:hover{
  color: white;
}

table.highlight > tbody > tr > td > a{
  color: black;
}


/*opersonalizacao pagina equipe*/

#equipe .col{

  margin-bottom: 25px;
  
}




/*personalizaçao navbar desktop*/
nav{
 
  opacity: 0.9; /*Transparencia navbar*/
}

nav ul a{
  color:black;

}

nav .brand-logo {
  color: #fff;


}

nav ul a:hover {
  background-color: #546e7a;
  color: white;

}

/*personalizaçao da navbar versao mobile*/
#sidenav-overlay {
  z-index: -2;
  background-color: inherit;
}

.side-nav {
  width: 200px;
  background-color: #fff;
  font-weight: 200px;
}

.side-nav a:hover{
  background-color: #546e7a;
  color: #fff;

}


/*Personalizaçao hover imagens parceiros*/


#thumb .hoverable:hover {

  box-shadow: 0 8px 17px 0 #546e7a, 0 6px 20px 0 #546e7a;
}

#thumb .col{ /*espaçamento das imagens quando pula linha*/
  margin-bottom: 25px;
}

/*slider background quando esta ativo*/


.slider .indicators .indicator-item.active {
  background-color: #546e7a;
  opacity: 0.9; 
}




/*personalizaçao do botao Enviar do form*/

.btn {

  position:relative;
  left:35%;
  right: 35%;
  margin-top:20px;
  margin-left:-0px;
  display: inline-block;
}

/*Iframe do mapa responsiveo*/

.maps {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: auto; 
-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
border: solid black 1px;
} 
.maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


/*Footer*/

.page-footer{
  opacity: 0.9;
  
}



.card.small {
  height: 200px;
}
/*media queries*/

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }


}

.material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
