/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

*{height: auto}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #fff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}


/*personalização tabela de publicaçoes*/
table.highlight > tbody > tr:hover {
    background-color: #546e7a;
    color: white;
    opacity: 0.9;
}

table.highlight > tbody > tr > td > a:hover{
  color: white;
}

table.highlight > tbody > tr > td > a{
  color: black;
}


.object-fit {
  object-fit: scale-down;
  border-radius:90%;
}

.equipe .col{

  margin-bottom: 25px;
  margin-left: 40px;
}



/*teste1 equipe*/

.teste {
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.image1 {
  display: block;
  width: 100%;
   border-radius: 10px;
 }

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .4s ease; 
  border-radius: 10px;     
}

.teste:hover .overlay1 {
  height: 100%;
  border-radius: 10px;

}
.text1 {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: Courier;
}


.flow-text{
  color: white;
   }
/*teste2 equipe*/

.container2 {
    position: relative;
    width: 100%;
}

.image2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container2:hover .image2 {
  opacity: 0.3;
  c
}

.container2:hover .middle {
  opacity: 1;
}



.text2 {
  background-color: transparent;
  color: black;
  font-size: 20px;
  padding: 16px 32px;
  font-family: Courier;
  display: inline-block;
  position: relative;

}


/*teste3 equipe*/

.container3 {
  position: relative;
  width: 100%;
}

.image3 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.9);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container3:hover .overlay3 {
  width: 100%;
}

.text3 {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/*personalizaçao navbar desktop*/
nav{
 
  opacity: 0.9; /*Transparencia navbar*/
}

nav ul a{
  color:black;

}

nav .brand-logo {
  color: #fff;


}

nav ul a:hover {
  background-color: #546e7a;
  color: white;

}

/*personalizaçao da navbar versao mobile*/
#sidenav-overlay {
  z-index: -2;
  background-color: inherit;
}

.side-nav {
  width: 200px;
  background-color: #fff;
  font-weight: 200px;
}

.side-nav a:hover{
  background-color: #546e7a;
  color: #fff;

}


/*Personalizaçao hover imagens parceiros*/


#thumb .hoverable:hover {

  box-shadow: 0 8px 17px 0 #546e7a, 0 6px 20px 0 #546e7a;
}

#thumb .col{ /*espaçamento das imagens quando pula linha*/
  margin-bottom: 25px;
}

/*slider background quando esta ativo*/


.slider .indicators .indicator-item.active {
  background-color: #546e7a;
  opacity: 0.9; 
}




/*personalizaçao do botao Enviar do form*/

.btn {

  position:relative;
  left:35%;
  right: 35%;
  margin-top:20px;
  margin-left:-0px;
  display: inline-block;
}

/*Iframe do mapa responsiveo*/

.maps {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: auto; 
-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
border: solid black 1px;
} 
.maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


/*Footer*/

.page-footer{
  opacity: 0.9;
  
}

/*flip*/

    /* simple */
    .flip-container {
      -webkit-perspective: 1000;
      -moz-perspective: 1000;
      -ms-perspective: 1000;
      perspective: 1000;

      -ms-transform: perspective(1000px);
      -moz-transform: perspective(1000px);
          -moz-transform-style: preserve-3d; 
          -ms-transform-style: preserve-3d; 

      border: 1px solid #ccc;
    }

      /* START: Accommodating for IE */
      .flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
    
    /* END: Accommodating for IE */

    .flip-container, .front, .back {
      width: 320px;
      height: 427px;
    }

    .flipper {
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
      -ms-transition: 0.6s;

      -moz-transition: 0.6s;
      -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;

      transition: 0.6s;
      transform-style: preserve-3d;

      position: relative;
    }

    .front, .back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;

        -webkit-transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        -webkit-transform: rotateY(0deg);

        -moz-transition: 0.6s;
        -moz-transform-style: preserve-3d;
        -moz-transform: rotateY(0deg);

        -o-transition: 0.6s;
        -o-transform-style: preserve-3d;
        -o-transform: rotateY(0deg);

        -ms-transition: 0.6s;
        -ms-transform-style: preserve-3d;
        -ms-transform: rotateY(0deg);

        transition: 0.6s;
        transform-style: preserve-3d;
        transform: rotateY(0deg);

      position: absolute;
      top: 0;
      left: 0;
    }

    .front {
      -webkit-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      background: lightgreen;
      z-index: 2;
      background-position: center;

    }

    .back {
      background: lightblue;
      -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .front .name {
      font-size: 2em;
      display: inline-block;
      background: rgba(33, 33, 33, 0.9);
      color: #f8f8f8;
      font-family: Courier;
      padding: 5px 10px;
      border-radius: 5px;
      bottom: 60px;
      left: 25%;
      position: absolute;
      text-shadow: 0.1em 0.1em 0.05em #333;
      display: none;

      -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      transform: rotate(-20deg);
    }

    .back-logo {
      position: absolute;
      top: 40px;
      left: 90px;
      width: 160px;
      height: 117px;
      background: url("../images/logo.png") 0 0 no-repeat;
    }

    .back-title {
      font-weight: bold;
      color: #00304a;
      position: absolute;
      top: 180px;
      left: 0;
      right: 0;
      text-align: center;
      text-shadow: 0.1em 0.1em 0.05em #acd7e5;
      font-family: Courier;
      font-size: 22px;
    }

    .back p {
      position: absolute;
      bottom:20px;
      left: 0;
      right: 0;
      text-align: center;
      padding: 0 20px;
      font-size: 18px;
    }



.card.small {
  height: 200px;
}
/*media queries*/

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }


}

.material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
