/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



p {
  line-height: 2rem;
}

.button-collapse {
  color: #fff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

/*personalização tabela de publicaçoes*/
table.highlight > tbody > tr:hover {
    background-color: #546e7a;
    color: white;
    opacity: 0.9;
}

table.highlight > tbody > tr > td > a:hover{
  color: white;
}

table.highlight > tbody > tr > td > a{
  color: black;
}


/*opersonalizacao pagina equipe*/

#equipe .col{

  margin-bottom: 25px;
  overflow: hidden;
  
}

#equipe .circle {
  
  
  overflow: hidden;
  /*opacidade*/
  opacity: 0.95;
  -moz-opacity: 0.75;
  filter: alpha(opacity=75);
  -webkit-filter: opacity(0.75);
  /*filtro P/B*/
  filter: black;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  /*qualidade*/
  image-rendering: auto;
}


#equipe .circle:hover{
  
  border: solid red 3px;
    opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
  -webkit-filter: opacity(1);
  filter: none;
  /* Firefox 10+ */
  -webkit-filter: grayscale(0%);
  /* Chrome 19+ & Safari 6+ */
  image-rendering: auto;
  
}

/*personalizaçao navbar desktop*/
nav{
 
  opacity: 0.9; /*Transparencia navbar*/
}

nav ul a{
  color:black;

}

nav .brand-logo {
  color: #fff;


}

nav ul a:hover {
  background-color: #546e7a;
  color: white;

}

/*personalizaçao da navbar versao mobile*/
#sidenav-overlay {
  z-index: -2;
  background-color: inherit;
}

.side-nav {
  width: 200px;
  background-color: #fff;
  font-weight: 200px;
}

.side-nav a:hover{
  background-color: #546e7a;
  color: #fff;

}


/*Personalizacao fotos do laboratório*/

#galerialab img{
    width: 200px;
    height: 200px;
    position: relative;
    vertical-align: center;

}

/*personalizaçao pagina de Linhas de Pesquisa*/

.collapsible-body {
    background-color: #EDEDED;

}

/*Personalizaçao hover imagens parceiros*/


#thumb .hoverable:hover {

  box-shadow: 0 8px 17px 0 #546e7a, 0 6px 20px 0 #546e7a;
}

#thumb .col{ /*espaçamento das imagens quando pula linha*/
  margin-bottom: 25px;
}


.image4 { /*alinhamento das imagens dos parceiros*/
  display: block;
  width: 100%;
  position: relative;
 }


/*slider background quando esta ativo*/

.slide {
  width: 100%;
  margin: 0 auto;
}



/*personalizaçao do botao Enviar do form*/

.btn {

  position:relative;
  left:35%;
  right: 35%;
  margin-top:20px;
  margin-left:-0px;
  display: flex;
  vertical-align: center;
}

/*Iframe do mapa responsiveo*/

.maps {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: auto; 
-webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
border: solid black 1px;
} 
.maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


/*Footer*/

.page-footer{
  opacity: 0.9;
  
}



.card.small {
  height: 200px;
}
/*media queries*/

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }


}

.material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


